body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1345;
    background-image: url(1.jpg);
}

html {
    scroll-behavior: smooth;
}


/* NAVBAR */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navbar {
    background-color: transparent;
}

.navbar {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
}

.navbar {
    color: black;
}

.logo {
    font-size: 15px;
    font-weight: bold;
    color: white;
}


.nav-links ul{
    display: flex;
}

.nav-links ul li{
    margin: 0 15px;
}

.menu-hamburger {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.nav-links a{
    color: white;
    font-weight: 200;
}

.nav-links a:hover {
    color: #00c0ff;
    
}

/* NAVBAR MOBILE */

@media (max-width: 768px) {

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #1e1345;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
        transition: all 0.4s;
        position: fixed;
    }

    .nav-links ul {
        flex-direction: column;
        display: flex;
        align-items: center;
        color: white;
    }

    .menu-hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar {
        padding: 0;
    }

    .navbar .nav-links ul li{
        padding: 25px;
        font-size: 20px;
    }

    .logo {
        margin: 15px 0 15px 15px;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    
    }

    .nav-links a{
        color: white;
    }

}

@media (min-width: 768px) {
    .grid {
        display: flex;
        padding: 100px;
      }

      .menu-icon {
        display: none;
      }
}

@media (max-width: 768px) {
    .grid {
        display: flex;
        padding: 100px;
      }

    .menu-icon {
        padding: 10px 10px;
        cursor: pointer;
        position: relative;
    }
}

/*--------- ICON MENU HAMBURGER ---------*/

.nav-icon {
    background-color: white;
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    transition: background-color 0.2s ease-out;
}

.nav-icon::after,
.nav-icon::before {
    background-color: white;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    position: absolute;
}

.nav-icon::after {
    top: 5px;
}

.nav-icon::before {
    top: -5px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

input {
    display: none;
}

/*--------- MAIN PAGE ---------*/

/*--------- SECTION 1 ---------*/

.sec1 .container {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

.sec1 .social {
    font-size: 2em;
    margin: 10px 0;
}

.sec1 .container .left h1{
    font-size: 4em;
    display: flex;
    color: #fff;
}

.sec1 .container .left h1 span{
    color: #00c0ff;
    margin-left: 15px;
}

.sec1 .container .left p{
    font-size: 1em;
    margin: 10px 0;
    color: #fff;
}

.sec1 .container .left button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: #00c0ff;
    color: white;
    font-size: 0.8em;
    font-weight: 400;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: all .45s ease;
}

.sec1 .container .left button:hover {
    transform: scale(1.1);
}

.sec1 .container .left button:hover {
    background-color: #fff;
    color: #000000;
    transition: all 0.4s;
}

.sec1 .container .right img {
    width: 60%;
    margin-left: 150px;
    transition: all .8s;
}

.sec1 .container .right img:hover {
    transform: scale(1.1)
}

@media (max-width: 1000px) {
  .sec1 .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .sec1 .container .right img {
    width: 30%;
    margin-left: 0;
  }

  .sec1 .container .left h1{
    display: flex;
    color: #fff;
    font-size: 2.5em;
  }

  .sec1 .container .left p{
    font-size: 1em;
    margin: 10px 0px 20px 0px;
    color: #fff;
  }

  .sec1 .container .left h1 span{
    margin-left: 15px;
  }

  .sec1 .right {
    text-align: center;
  }

}

@media (max-width: 768px) {

    .sec1 .container .right img {
        width: 200px;
        margin-left: 0;
      }
}

/*--------- SECTION 2 ---------*/

.sec2 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;

}

.sec2 .card {
    height: 220px;
    width: 300px;
    background-color: #3a2b71;
    border-radius: 15px;
    margin: 25px;
    transition: all .45s ease;
}

.sec2 .card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.sec2 .bx {
    font-size: 3.5em;
    margin: 15px;
}

.sec2 .container .card h2{
    margin-left: 15px;
    color: #fff;
}

.sec2 .container .card p {
    font-size: 0.9em;
    margin: 20px 15px;
    color: #aaa
}

@media (max-width: 768px) {
    .sec2 .card {
        height: 220px;
        width: 100%;
        margin: 20px 20px;
    }
}


/*--------- SECTION 3 ---------*/

.sec3 .center {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.center .title h2 {
    display: flex;
    justify-content: center;
    color: #00c0ff;
    font-size: 1.5em;
}

.sec3 .center .title p {
    color: #fff;
    font-size: 2.5em;
}

.sec3 .aboutme {
    display: flex;
    max-width: 1000px;
    margin: 60px auto;
}

.sec3 .text h2 {
    color: #fff;
    margin: 20px 0;
}

.sec3 .text p {
    color: #b4afc6;
    line-break: anywhere;
}

.aboutme .text {
    margin: 0 50px 0 50px;
}


@media (max-width: 768px) {
    .sec3 .aboutme {
        display: flex;
        flex-direction: column;
    }

    .aboutme img {
        width: 300px;
    }

    .aboutme {
        text-align: center;
    }

    .sec3 .center .title p {
        font-size: 1.8em;
        margin: 0 20px;
    }
}


/*--------- SECTION 4 ---------*/

.sec4 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 120px 0;
}

.sec4 .card {
    height: 180px;
    width: 225px;
    background-color: #3a2b71;
    border-radius: 15px;
    margin: 12.5px;
    transition: all .45s ease;
}

.sec4 .card {
    display: flex;
    align-items: center;
}

.sec4 .card span {
    font-size: 4em;
    color: #00c0ff;
    padding: 10px;

}

.sec4 .card h2 {
    font-size: 1.2em;
    line-height: 28px;
    color: #fff;
}

@media (max-width: 768px) {
    .sec4 .card {
        height: 180px;
        width: 100%;
        margin: 12.5px 20px;
    }

    .sec4 .card {
        display: flex;
        justify-content: center;
    }
}

/*--------- SECTION 5 ---------*/

.sec5 {
    padding: 100px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.center .title h2 {
    display: flex;
    justify-content: center;
    color: #00c0ff;
    font-size: 1.5em;
}

.sec5 .center .title p {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    margin: 0px 20px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .center .title p {
        font-size: 1.8em;
    }
}

.skills h2 {
    color: white;
}

.progress-bar {
    height: 10px;
    width: 100%;
    background-color: #fff; 
    border-radius: 10px;
    margin: 20px 0;
}

.progress-bar div {
    height: 10px;
    width: 0%;
    border-radius: 10px;
    margin: 40px 0;
    background-color: #00c0ff;
}

.progress-bar div span {
    display: flex;
    align-items: center;
    color: #000000;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    justify-content: center;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
}

.html {
    animation: html 1.2s linear forwards;
}

.css {
    animation: css 1.2s linear forwards;
}

.javascript {
    animation: javascript 1.2s linear forwards;
}

.responsive  {
    animation: responsive 1.2s linear forwards;
}

@keyframes html {
    100% {
        width: 86%;
    }
}

@keyframes css {
    100% {
        width: 75%;
    }
}

@keyframes javascript {
    100% {
        width: 35%;
    }
}

@keyframes responsive {
    100% {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .sec5 .skills {
        margin: 0 20px;
    }

    .skills h2 {
        font-size: 1em;
    }

    .progress-bar div span {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        margin-right: -10px;
        font-size: 0.8em;
    }
}

@media (max-width: 1060px) {
    .sec5 .skills {
        margin: 0 20px;
    }
}

/*--------- SECTION 6 ---------*/

.sec6 .container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
}

.sec6 .center .title p {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 100px;
}

.sec6 h2{
    color: #fff;
}

.sec6 span{
    color: #aaa;
}

.sec6 a{
    color: #aaa;
}

.sec6 i{
    font-size: 3.5em;
}

@media (max-width: 768px) {
    .sec6 {
        margin: 0 20px;
    }

    .center .title p {
        font-size: 1.8em;
    }

    .sec6 .container{
        display: flex;
        flex-direction: column;
    }

    .sec6 .container .section{
        margin: 30px auto;
    }
}

@media (max-width: 1060px) {
    .sec6 {
        margin: 0 20px;
    }
}

/*--------- SEC7 FOOTER ---------*/

.sec7 {
    padding: 100px 0;
}

.sec7 .footer {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #00c0ff;
    height: auto;
    display: flex;
    border-radius: 10px;
}

.sec7 .col-1, .col-2, .col-3 {
    margin: 40px;
    max-width: 300px;
}

.sec7 .social {
    font-size: 1.5em;
}

.developed {
    text-align: center;
    padding-bottom: 80px;
    color: #fff;
}

@media (max-width: 768px) {
    .sec7 .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 1060px) {
    .sec7 .footer {
        margin: 0 20px;
    }
}
